{% extends 'base.html' %}
{% block title %}О нас - Мой сайт{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
</head>
<body>
    <main>
        <div class="main__conteiner">
            <div class="main__content">
                <section class="sec1">
                    
                </section>
                <div class="ticker-wrap">
                    <div class="ticker" id="ticker"></div>
                </div>
 
                <section class="sec2">
                    <img src="https://ardor-gaming.com/files/ardor/game-start__desktop.jpg" alt="">
                </section>
            </div>
        </div>
    </main>
    <script>
    const text = "Гарантируем лучшую цену в городе? Нашли дешевле? Сделаем ниже!";
    const ticker = document.getElementById('ticker');
    // дублируем контент 2 раза для бесшовной прокрутки
    for (let i = 0; i < 8; i++) {
        const span = document.createElement('span');
        span.textContent = text;
        ticker.appendChild(span);
    }
</script>
</body>
</html>
{% endblock %}
